
*~
*.000
*~[0-9]*
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9][0-9][0-9]R
*.[1-9][0-9]R
*.[1-9]R
# achemso
*.acn
*.acr
acs-*.bib
*.alg
# algorithms
# amsthm
/auto/*
# auto folder when using emacs and auctex 
# Autorouter files (exported from Pcbnew)
*_autosave-*
_autosave-*
*#auto_saved_files#
*auto_saved_files#
*.aux
## Auxiliary and intermediate files from other packages:
*.auxlock
*.backup
*backup*
*-backups
*.bak
*.bbl
*.bcf
*.bck
# beamer
## Bibliography auxiliary files (bibtex/biblatex/biber):
*.blg
*-blx.aux
*-blx.bib
*.brf
## Build tool auxiliary files:
*.cb
*.cb2
# changes
*-concordance.tex
*-converted-to.*
## Core latex/pdflatex auxiliary files:
# cprotect
*.cpt
#*.csv
doc/gen/*
*.dpth
*.dsn
.dsn
*.dvi
# easy-todo
## Editors:
*.eledsec[1-9]
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R
*.eledsec[1-9][0-9]R
*.eledsec[1-9]R
# elsarticle (documentclass of Elsevier journals)
*.?end
*.end
# endfloat
# endnotes
*.ent
# *.eps
# expex forward references with \gathertags
# Exported BOM files
*.fdb_latexmk
# feynmf/feynmp
*.fff
# fixme
*.fls
*.fmt
# For PCBs designed using KiCad: http://www.kicad-pcb.org/
*.fot
*fp-info-cache
fp-info-cache
*.gaux
## Generated if empty string is given at "Please type another file name for output:"
*.glg
*.glo
# glossaries
*.gls
*.glsdefs
# gnuplottex
*-gnuplottex-*
# gregoriotex
*.gtex
hw/cam_profi/*
# hyperref
*.idx
*.ilg
*.ind
## Intermediate documents:
*.ist
# KBibTeX
*.kicad_pcb-bak
*.kicad_prl
*.kicad_sch-bak
# Kile
# knitr
# Latexian
*.lck
# listings
*.loa
*.lod
*.loe
*.lof
*.log
*.lol
*.lot
*.lox
*.maf
# makeidx
*.md5
*.mf
# minitoc
# minted
_minted*
*.mlf
*.mlt
# morewrites
*.mp
*.mtc[0-9]*
*.mw
# mylatexformat
*.nav
#*.net
# Netlist files (exported from Eeschema)
*.nlo
# nomencl
*.orig
*.out
# pax
*.pax
# *.pdf
.pdf
# pdfcomment
*.pdfsync
*.pre
# *.ps
*.pyg
# pythontex
pythontex-files-*/
*.pytxcode
#(r)(e)ledmac/(r)(e)ledpar
*.run.xml
# sagetex
*.sagetex.py
*.sagetex.sage
*.sagetex.scmd
*.sav
*-save.kicad_pcb
*-save.pro
*.sch-bak
# scrwfile
*.ses
*.snm
*.soc
*.sout
*.spl
# sympy
*.sympy
sympy-plots-for-*.tex/
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.t[1-9]
*.t[1-9][0-9]
*-tags.tex
*.tdo
# Temporary files
# Texpad
.texpadtmp
*.tfm
# these rules might exclude image files for figures etc.
*.thm
# thmtools
*.tikz
*-tikzDictionary
# TikZ & PGF
*.tmp
*.toc
# TODO Comment the next line if you want to keep your tikz graphics files
# todonotes
TSWLatexianTemp*
*.ttt
*.upa
*.upb
*.vrb
# WinEdt
*.wrt
*.xdy
# xindy
#*.xml
*.xyc
# xypic precompiled matrices
